body {
    background: linear-gradient(rgba(237, 240, 216, 0.926),rgb(54, 56, 35));
    background-repeat: no-repeat;
    background-attachment: cover;
    background-attachment: fixed;
    
}

h1 {
    text-align: center;
    font-family: Consolas;
    font-style: solid;
    animation: changeColor 2s infinite;
}
h3 {
    text-align: center;
    font-family: Consolas;
    font-style: solid;
}

#video {
    display: block;
    margin: 0 auto;
}

@keyframes changeColor {
    0% {
        color: rgba(0, 0, 0, 1);
    }

    33% {
        color: rgba(0, 0, 0, 0);
    }
    66% {
        color: rgba(0, 0, 0, 1);
    }
}